name: External

on: [push, pull_request]

jobs:
  test:
    name: ${{matrix.ruby}} on ${{matrix.os}}
    runs-on: ${{matrix.os}}-latest

    strategy:
      matrix:
        os:
          - ubuntu

        ruby:
          - "3.1"
          - "head"

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true

    - name: Run tests
      timeout-minutes: 5
      run: ${{matrix.env}} bundle exec bake external
