name: Test Coverage

on: [push, pull_request]

permissions:
  contents: read

env:
  CONSOLE_OUTPUT: XTerm
  COVERAGE: PartialSummary

jobs:
  test:
    name: ${{matrix.ruby}} on ${{matrix.os}} with ${{matrix.selector}}
    runs-on: ${{matrix.os}}-latest
    
    strategy:
      matrix:
        include:
          - os: ubuntu
            ruby: "3.1"
            selector: EPoll
          - os: ubuntu
            ruby: "3.2"
            selector: EPoll
          - os: ubuntu
            ruby: "3.3"
            selector: EPoll
          - os: ubuntu
            ruby: "3.3"
            selector: URing
          - os: ubuntu
            ruby: "head"
            selector: URing
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install packages (Ubuntu)
      if: matrix.os == 'ubuntu'
      run: sudo apt-get install -y liburing-dev
    
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true
        cache-version: io_uring
    
    - name: Run tests
      timeout-minutes: 5
      env:
        IO_EVENT_SELECTOR: ${{matrix.selector}}
      run: bundle exec bake test
    
    - uses: actions/upload-artifact@v3
      with:
        name: coverage-${{matrix.os}}-${{matrix.ruby}}-${{matrix.selector}}
        path: .covered.db
  
  validate:
    needs: test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.3"
        bundler-cache: true
    
    - uses: actions/download-artifact@v4.1.7
    
    - name: Validate coverage
      timeout-minutes: 5
      run: bundle exec bake covered:validate --paths */.covered.db \;
