name: Test Coverage

on: [push, pull_request]

permissions:
  contents: read

env:
  CONSOLE_OUTPUT: XTerm
  COVERAGE: PartialSummary

jobs:
  test:
    name: ${{matrix.ruby}} on ${{matrix.os}} with ${{matrix.io_event_selector}}
    runs-on: ${{matrix.os}}-latest
    
    strategy:
      matrix:
        include:
          - os: ubuntu
            ruby: "3.1"
            io_event_selector: EPoll
          - os: ubuntu
            ruby: "3.2"
            io_event_selector: EPoll
          - os: ubuntu
            ruby: "3.3"
            io_event_selector: EPoll
          - os: ubuntu
            ruby: "3.4"
            io_event_selector: EPoll
          - os: ubuntu
            ruby: "3.4"
            io_event_selector: URing
          - os: ubuntu
            ruby: "3.4"
            io_event_selector: URing
            fiber_profiler_capture: "true"
          - os: ubuntu
            ruby: "head"
            io_event_selector: URing
          - os: ubuntu
            ruby: "head"
            io_event_selector: URing
            async_scheduler_worker_pool: "true"
    
    env:
      IO_EVENT_SELECTOR: ${{matrix.io_event_selector}}
      ASYNC_SCHEDULER_WORKER_POOL: ${{matrix.async_scheduler_worker_pool}}
      FIBER_PROFILER_CAPTURE: ${{matrix.fiber_profiler_capture}}
    
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby-pkgs@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true
        cache-version: io_uring
        apt-get: liburing-dev
    
    - name: Run tests
      timeout-minutes: 5
      run: bundle exec bake test
    
    - uses: actions/upload-artifact@v4
      with:
        include-hidden-files: true
        if-no-files-found: error
        name: coverage-${{matrix.os}}-${{matrix.ruby}}-${{matrix.io_event_selector}}-${{matrix.async_scheduler_worker_pool}}-${{matrix.fiber_profiler_capture}}
        path: .covered.db
  
  validate:
    needs: test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.3"
        bundler-cache: true
    
    - uses: actions/download-artifact@v4
    
    - name: Validate coverage
      timeout-minutes: 5
      run: bundle exec bake covered:validate --paths */.covered.db \;
